* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(rgb(103, 111, 212), rgb(47, 33, 201));
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #857086;
    margin-right: 10px;
}

.wrapper {
    align-items: stretch;
    
}

.input {
   width: 80%;
   display: block;
}

.search {
    text-align: center;
    padding-right: 5px;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    padding: 0 0 5px 15px;
}

.mainSearch {
    display: inline-block;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
}

button {
    align-items: center;
    display: block;  
}

.btn.clearBtn {
    background: rgb(61, 61, 146);
    color: white;
    max-width: max-content;
    align-items: center;
    margin-top: 8px; 
}

.userInput {
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.content {
    margin: 10px;
    border: solid rgb(88, 85, 85);
}

.mainContainer {
    display: inline-block;
    height: 500px;
    width: 1024px;
    margin: auto;
    position: relative;
    top: 60px;
}


