*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    background-image: linear-gradient(rgb(90, 97, 199), rgb(19, 10, 138));
    color: white;
    text-align: center;
    padding: 5px;
}
.hone {
text-align: center;
}
input{
    display: block;
    width: 100%; 
}
button {
    display: block;
    margin: auto;
    width: 100%; 
    align-items: center;
}
.searchBtn{
    background:dodgerblue ;
    color:white;
    align-items: center;
    margin: auto;
    width: 100%; 
    margin-top: 8px;


}
.form{
    padding-bottom: 10px;
    border-bottom: gray solid 2px;
    margin-bottom: 10px;
}
.weatherContainer{
    display: inline-block;
}
.mainContainer{
    border: solid grey 2px;
    margin: 10px;
}
.flex-daily{
    display: inline-block;
    margin: auto;
}
article {
    display: inline-block;

}
.searchList{

}
.btnDist{
    margin-top: 5px;
}
.divInline{
    display: inline-block;
    margin: 5px;
}
.gray{
    background-color:lightgray;
}

